@model IEnumerable<Atribute>

@{int i = 0; }

@foreach (var item in Model)
{
    <input type="hidden" name="Attributes[@i].Id" value="@item.Id" />
    @switch (item)
    {
        case BoolAtribute value:
            <div class="form-check">

                <input type="checkbox" name="Attributes[@i].Value" value="true" class="form-check-input" id="@i" />
                <label class="form-check-label" for="@i">
                    @item.Name
                </label>
            </div>
            break;
        case DateTimeAtribute value:
            <div class="form-group">
                <label class="control-label">@item.Name</label>
                <input type="date" name="Attributes[@i].Value" class="form-control " />
            </div>
            break;
        case DoubleAtribute value:
            <div class="form-group">
                <label class="control-label">@item.Name</label>
                <input type="text" name="Attributes[@i].Value" class="form-control " />
            </div>
            break;
        case NumberAtribute value:
            <div class="form-group">
                <label class="control-label">@item.Name</label>
                <input type="number" name="Attributes[@i].Value" class="form-control " />
            </div>
            break;
        case TextAtribute value:
            <div class="form-group">
                <label class="control-label">@item.Name</label>
                <input type="text" name="Attributes[@i].Value" class="form-control " />
            </div>
            break;
    }      
    { i++; }
}
