@model Ogłoszenia_Drobne_Web_App.Pagination.PaginatedList<Ogłoszenia_Drobne_Web_App.Models.Offer>

@{
    ViewData["Title"] = "Index";
}

<h1>Ogłoszenia</h1>

<p>
    <a asp-action="Create">Dodaj ogłoszenie</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn btn-default buttonDetails" /> |
            <a asp-action="Index">Powrót</a>
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ViewCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Wage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCounter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default buttonDetails @prevDisabled">
    Poprzednia
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default buttonDetails @nextDisabled">
    Nastepna
</a>