@model IEnumerable<Ogłoszenia_Drobne_Web_App.Models.Offer>

@{
    ViewData["Title"] = "Moje ogłoszenia";
}
<div class="container">
    <p>
        <a asp-action="Create">Dodaj ogłoszenie</a>
    </p>
    


    
   
            @foreach (var item in Model)
            {
                <div class="row mb-2 borderLogin">
                    <div class="col-sm-12 col-md-9 p-2">
                        <h3>@item.Title</h3>
                    </div>
                    <div class="col-sm-12 col-md-3 p-2">
                        @if (item.Wage == null)
                        {
                            <span>Stawka nieokreślona</span>
                        }
                        else
                        {
                            <h4>@item.Wage zł</h4>
                        }
                    </div>
                    <div class="col-sm-12 col-md-9 p-2">
                        @if (item.Description?.Length > 300)
                        {
                            <span>@item.Description.Substring(0, 300)...</span>
                        }
                        else
                        {
                            <span>@item.Description</span>
                        }
                    </div>
                    <div class="col-sm-12 col-md-3 p-2">
                        <a class="btn buttonDetails" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn buttonDetails" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn buttonDetails" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </div>
                </div>
                
                    
            }

    </div>
