@model IEnumerable<Ogłoszenia_Drobne_Web_App.Models.BlackWord>

@{
    ViewData["Title"] = "Zakazane słowa";
}
<div class="container">
    <h1>Zakazane słowa</h1>

    <p>
        <a class="btn buttonDetails" asp-action="Create">Dodaj</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Word)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Word)
                    </td>
                    <td>
                        <a class="btn buttonDetails" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn buttonDetails" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                        <a class="btn buttonDetails" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
